* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
header {
  position: relative;
  background-color: #171C28;
  height: 10vh;
  width: 100vw;
}
/* 
.title {
  color: antiquewhite;
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 18rem;
  height: 7vh;
  font-size: 2.5rem;
  font-family: "Great Vibes", cursive;
} */
.nav-bar {
  position: absolute;
  top:1rem;
  right:0;
  width: 50vw;
  height:7vh;
}
.nav-bar ul {
  margin:0;;
  padding:0;
  height:7vh;
  float:right;
}
.nav-bar-link:hover{
  background-color: rgb(163, 138, 223);
}
.nav-bar-link {
  display:inline-block;
  list-style: none;
  height:6vh;
  padding-left:1.5rem;
  padding-right: 1.5rem;
  border-radius: 4px;
  /* box-shadow: #b45bff; */
  /* shadow: #4a257a; */
}
.nav-bar-link a {
  display: inline-block;
  margin-top:0.5rem;
  text-decoration: none;
  font-size:1.5rem;
  color: #fff;
}

#home{
  height: 90vh;
  width:100vw;
  background-color: #171C28;
  display: flex;
}
.introduction-container{
  margin-top: 10vh;
  width:60vw;
  height:70vh;
  /* border:1px solid white; */
}
.greeting-message{
  height:5rem;
  margin-left: 3rem;
}
.greeting-message span:hover{
  cursor: pointer;
  animation-name: greetAnimation;
  animation-duration:0.3s;
}

@keyframes greetAnimation {
  0%{
      transform:translateY(0);
      color:#fff;
    }

  100%{
    color: rgb(218, 34, 49);
      transform:translateY(-10px);
    }
}
.introduction-container span{
  display:inline-block;
  font-size: 3.1rem;
  color:#fff;
  /* margin-left: 4rem; */
  padding-left: 0.2rem;
  margin-top: 1rem;
}
.waving-hand{
  display: inline-block;
  width:3.3rem;
  margin-left:0.8rem !important;
  animation-name: wave-hand;
  animation-duration:0.8s;
  animation-iteration-count: infinite;
}
@keyframes wave-hand {
  0%{
    transform: rotate(0deg); 
  }
  25%{
    transform: rotate(-7deg);
  }
  50%{
    transform:rotate(-10deg);
  }
  75%{
    transform:rotate(-7deg);
  }
  100%{
transform: rotate(0deg);
  }
}
.computer-image{
  margin-top: 10vh;
  width:40vw;
  height:70vh;
  /* border:1px solid red; */
}